.vscode
raycast-env.d.ts
node_modules
.DS_Store

# Swift/Xcode
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
